<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>



<section class="users-section">
  <h2><%= @user.name %> Friends <br></h2>
  <ul class="users-list">
    <%= render @user.friends %>
  </ul>
</section>



<div>
  
  <%= form_for(@user.friendships.new, url: user_friendships_path(@user)) do |form| %>
    <%= form.label :user_id%>
    <%= form.text_field :user_id, value: current_user.id%>

    <%= form.label :confirmed %>
    <%= form.text_field :confirmed, value: true %>

    <%= form.submit%>
  <% end %>
</div>