<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>



<section class="users-section">
  <h2><%= @user.name %> Friends <br></h2>
  <ul class="users-list">
    <%= render @user.friends %>
  </ul>
</section>

<%= render "form" %>

