<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= add_friend(@user) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<% if @user == current_user %>
  <% @user.friend_requests.each do |user| %>
    <%= button_to "Accept #{user.name} request", update_friendship_path(verify_friendship(user)), method: :put %>
    <%= button_to "Delete #{user.name} request", friendship_path(verify_friendship(user)), method: :delete %> 
  <% end %>
<% end %>

<section class="users-section">
  <h3><%= @user.name %> Friends <br></h3>
  <ul class="users-list">
    <%= render @user.friends %>
  </ul>
</section>

<section class="users-section">
  <h3><%= @user.name %> Pending friendship invitations: <br></h3>
  <ul class="users-list">
    <%= render @user.friend_requests %>
  </ul>
  <h3><%= @user.name %> Sended friendship invitations: <br></h3>
  <ul class="users-list">
    <%= render @user.pending_friends %>
  </ul>
</section>