<div>
  <%= form_for @friendship do |f| %>
    <%= f.label :user_id%>
    <%= f.text_field :user_id, value: current_user%>

    <%= f.label :friend_id%>
    <%= f.text_field :friend_id%>

    <%= f.label :confirmed %>
    <%= f.text_field :confirmed, value: false %>

    <%= f.submit%>
  <% end %>
</div>
